<div>
  <nav class="bg-white dark:bg-gray-800 shadow">
    <div class="max-w-7xl mx-auto px-8">
      <div class="flex items-center justify-between h-16">
        <div class="flex items-center">
          <a class="flex-shrink-0" href="/">
            <p class="text-lg font-semibold">izlaz.io</p></a
          >
          <div class="hidden md:block">
            <div class="ml-10 flex items-baseline space-x-4">
              <a
                class="text-gray-300 hover:text-gray-800 dark:hover:text-white px-3 py-2 rounded-md text-sm font-medium"
                href="/"
              >
                Home
              </a>
              <a
                class="text-gray-800 dark:text-white hover:text-gray-800 dark:hover:text-white px-3 py-2 rounded-md text-sm font-medium"
                href="/"
              >
                Gallery
              </a>
            </div>
          </div>
        </div>
        <div class="hidden md:block">
          <div class="ml-4 flex items-center md:ml-6">
            <div class="mr-4">
              <button
                (click)="onButtonClick()"
                type="button"
                class="py-2 px-4 bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg"
              >
                {{ isLoggedIn ? "Novi event" : "Prijava" }}
              </button>
            </div>
            <div
              *ngIf="isLoggedIn"
              class="block p-1 rounded-full text-gray-400 focus:outline-none hover:text-gray-200 focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white"
            >
              <div class="relative inline-block text-left">
                <button
                  (click)="onMessagesClick()"
                  type="button"
                  class="flex items-center justify-center w-full rounded-md px-4 py-2 text-sm font-medium text-gray-700 dark:text-gray-50 hover:bg-gray-50 dark:hover:bg-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-gray-500"
                  id="options-menu"
                >
                  <span class="sr-only"> Poruke </span>
                  <img src="assets/inbox.svg" class="h-6 w-6" />
                </button>
              </div>
            </div>
            <div *ngIf="isLoggedIn">
              <div class="relative inline-block text-left">
                <div>
                  <button
                    (click)="onProfileClick()"
                    type="button"
                    class="flex items-center justify-center w-full rounded-md px-4 py-2 text-sm font-medium text-gray-700 dark:text-gray-50 hover:bg-gray-50 dark:hover:bg-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-gray-500"
                    id="options-menu"
                  >
                    <span class="sr-only"> Profil </span>
                    <img src="assets/profile.svg" class="h-6 w-6" />
                  </button>
                </div>
                <div
                  *ngIf="isProfileOpen"
                  class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white dark:bg-gray-800 ring-1 ring-black ring-opacity-5"
                >
                  <div
                    class="py-1"
                    role="menu"
                    aria-orientation="vertical"
                    aria-labelledby="options-menu"
                  >
                    <a
                      (click)="onLogout()"
                      class="block px-4 py-2 text-md text-gray-700 cursor-pointer hover:bg-gray-100 hover:text-gray-900 dark:text-gray-100 dark:hover:text-white dark:hover:bg-gray-600"
                      role="menuitem"
                    >
                      <span class="flex flex-col">
                        <span> Odjava </span>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="-mr-2 flex md:hidden">
          <button
            (click)="onMenuBarsClick()"
            class="text-gray-800 dark:text-white hover:text-gray-300 inline-flex items-center justify-center p-2 rounded-md focus:outline-none"
          >
            <img src="assets/menu-bars.svg" class="h-6 w-6" />
          </button>
        </div>
      </div>
    </div>
    <div [ngClass]="isMenuOpen ? 'block' : 'hidden'" class="md:hidden">
      <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
        <a
          class="text-gray-300 hover:text-gray-800 dark:hover:text-white block px-3 py-2 rounded-md text-base font-medium"
          href="/"
        >
          Početna
        </a>
        <a
          *ngIf="isLoggedIn"
          class="text-gray-800 dark:text-white block px-3 py-2 rounded-md text-base font-medium"
          href="/messages"
        >
          Poruke
        </a>
        <a
          *ngIf="isLoggedIn"
          (click)="onLogout()"
          href=""
          class="text-gray-800 dark:text-white block px-3 py-2 rounded-md text-base font-medium"
        >
          Odjava
        </a>
        <button
          (click)="onButtonClick()"
          type="button"
          class="py-2 px-4 bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg"
        >
          {{ isLoggedIn ? "Novi event" : "Prijava" }}
        </button>
      </div>
    </div>
  </nav>
</div>
