<div class="flex">
  <div class="flex-shrink-0 mr-3">
    <img
      class="mt-2 rounded-full w-8 h-8 sm:w-10 sm:h-10"
      [src]="comment!.user?.image | defaultImage"
    />
  </div>
  <div
    class="flex-1 border rounded-lg px-4 py-2 sm:px-6 sm:py-4 leading-relaxed"
  >
    <strong>{{ comment?.user?.username }}</strong>
    <span class="text-xs text-gray-400 ml-2">{{
      comment?.timestamp | date: "short"
    }}</span>
    <p class="text-sm">
      {{ comment?.text }}
    </p>
  </div>
</div>
