<app-navbar></app-navbar>
<div class="min-h-screen bg-gray-100 md:py-10">
  <div class="px-4 py-8 md:px-6 lg:px-8 max-w-5xl mx-auto">
    <!-- <div
      *ngIf="submitted && error && event"
      class="surface-card bg-white p-4 shadow rounded-md w-full lg:w-1/2 mx-auto"
    >
      <div class="text-center mb-5">
        <div class="text-900 text-xl font-medium">
          {{ "Došlo je do greške." }}
        </div>
      </div>
    </div> -->
    <div *ngIf="!submitted || error" class="md:grid md:grid-cols-3 md:gap-6">
      <div class="md:col-span-1">
        <div class="px-4 sm:px-0">
          <h3 class="text-lg font-medium leading-6 text-gray-900">
            {{ event?._id ? "Uredi događaj" : "Novi događaj" }}
          </h3>
          <p class="mt-1 text-sm text-gray-600">
            Ovdje ispuni podatke o svojem događaju.
          </p>
        </div>
      </div>
      <div class="mt-5 md:mt-0 md:col-span-2">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="shadow sm:rounded-md sm:overflow-hidden">
            <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
              <div class="grid grid-cols-3 gap-6">
                <div class="col-span-3 sm:col-span-2">
                  <label
                    for="name"
                    class="block text-sm font-medium text-gray-700"
                  >
                    Naziv
                  </label>
                  <div class="mt-1 flex rounded-md shadow-sm">
                    <input
                      type="text"
                      formControlName="name"
                      class="form-input px-4 py-3 w-full sm:text-sm border border-gray-300 focus:ring-indigo-500 focus:border-indigo-500 mt-1 flex rounded-md"
                    />
                  </div>
                  <p class="mt-2 text-sm text-gray-500">
                    Preporučamo dužinu do 80 znakova.
                  </p>
                </div>
              </div>

              <div class="grid grid-cols-3 gap-6">
                <div class="col-span-3 sm:col-span-2">
                  <label
                    for="datetime"
                    class="block text-sm font-medium text-gray-700"
                  >
                    Datum i vrijeme
                  </label>
                  <div class="mt-1 flex rounded-md shadow-sm">
                    <input
                      type="datetime-local"
                      formControlName="datetime"
                      class="form-input px-4 py-3 w-full sm:text-sm border border-gray-300 focus:ring-indigo-500 focus:border-indigo-500 mt-1 flex rounded-md"
                    />
                  </div>
                </div>
              </div>

              <div class="col-span-6">
                <label
                  for="address"
                  class="block text-sm font-medium text-gray-700"
                  >Adresa</label
                >
                <input
                  type="text"
                  formControlName="address"
                  autocomplete="street-address"
                  class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                />
                <p class="mt-2 text-sm text-gray-500">Ulica i kućni broj</p>
              </div>

              <div class="grid grid-cols-3 gap-6">
                <div class="col-span-3 sm:col-span-2">
                  <label
                    for="city"
                    class="block text-sm font-medium text-gray-700"
                  >
                    Grad
                  </label>
                  <div class="mt-1 flex rounded-md shadow-sm">
                    <input
                      type="text"
                      formControlName="city"
                      class="form-input px-4 py-3 w-full sm:text-sm border border-gray-300 focus:ring-indigo-500 focus:border-indigo-500 mt-1 flex rounded-md"
                    />
                  </div>
                </div>
              </div>

              <div>
                <label
                  for="description"
                  class="block text-sm font-medium text-gray-700"
                >
                  Opis
                </label>
                <div class="mt-1">
                  <textarea
                    formControlName="description"
                    rows="5"
                    class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md"
                    placeholder="Opis"
                  ></textarea>
                </div>
                <p class="mt-2 text-sm text-gray-500">Opis tvog događaja.</p>
              </div>

              <!-- <div>
              <label class="block text-sm font-medium text-gray-700">
                Photo
              </label>
              <div class="mt-1 flex items-center">
                <span
                  class="inline-block h-12 w-12 rounded-full overflow-hidden bg-gray-100"
                >
                  <svg
                    class="h-full w-full text-gray-300"
                    fill="currentColor"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z"
                    />
                  </svg>
                </span>
                <button
                  type="button"
                  class="ml-5 bg-white py-2 px-3 border border-gray-300 rounded-md shadow-sm text-sm leading-4 font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                >
                  Change
                </button>
              </div>
            </div> -->

              <div>
                <label
                  for="image"
                  class="block text-sm font-medium text-gray-700"
                >
                  Slika
                </label>
                <div
                  class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md"
                >
                  <div class="space-y-1 text-center">
                    <svg
                      class="mx-auto h-12 w-12 text-gray-400"
                      stroke="currentColor"
                      fill="none"
                      viewBox="0 0 48 48"
                      aria-hidden="true"
                    >
                      <path
                        d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                    <div class="flex text-sm text-gray-600">
                      <label
                        for="image"
                        class="relative cursor-pointer bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500"
                      >
                        <span>Učitaj sliku</span>
                        <input
                          formControlName="image"
                          type="file"
                          class="sr-only"
                          (change)="onFileChanged($event)"
                        />
                      </label>
                      <p class="pl-1">*dolazi uskoro</p>
                    </div>
                    <p class="text-xs text-gray-500">
                      JPG ili PNG do 2MB veličine
                    </p>
                  </div>
                </div>
              </div>
              <app-alert-error
                *ngIf="submitted && error && event"
              ></app-alert-error>
            </div>
            <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
              <button
                (click)="onDelete()"
                *ngIf="event?._id"
                class="inline-flex justify-center py-2 px-4 mr-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
              >
                Obriši
              </button>
              <button
                type="submit"
                [ngClass]="
                  form.valid
                    ? 'bg-indigo-600  hover:bg-indigo-700'
                    : 'bg-indigo-400'
                "
                class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              >
                Spremi
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div
      *ngIf="submitted && !error && event"
      class="surface-card bg-white p-4 shadow rounded-md w-full lg:w-1/2 mx-auto"
    >
      <div class="text-center mb-5">
        <img
          [src]="
            submitted && !error
              ? 'assets/check-circle.svg'
              : 'assets/shield-check.svg'
          "
          class="h-9 mx-auto mb-3"
        />
        <div class="text-900 text-3xl font-medium mb-3">
          {{ deleted ? "Događaj je obrisan." : "Događaj je objavljen." }}
        </div>
        <a
          [routerLink]="deleted ? '/' : '/events/' + event._id"
          class="font-medium no-underline ml-2 text-blue-500 cursor-pointer"
          >{{ deleted ? "Idi na početnu stranicu" : "Pogledaj objavu" }}</a
        >
      </div>
    </div>
  </div>
</div>
