.h-conversation {
  height: calc(100vh - 4rem);
}

.w-conversation {
  width: calc(100vw - 24rem);
}

.h-conversation-window {
  height: calc(100% - 4rem);
}

@media (min-width: 1280px) {
  .h-conversation {
    height: calc(100vh - 7rem);
  }
}
