<div class="flex mx-auto items-center justify-center shadow mb-4 w-full">
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="w-full bg-white rounded-lg px-4 pt-2"
  >
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-full px-3 mb-2 mt-2">
        <textarea
          class="bg-gray-100 rounded border border-gray-400 leading-normal resize-none w-full h-20 py-2 px-3 font-normal placeholder-gray-700 focus:outline-none focus:bg-white"
          formControlName="text"
          placeholder="Dodaj komentar"
          required
        ></textarea>
      </div>
      <div class="w-full md:w-full flex items-start justify-end md:w-full px-3">
        <button
          type="submit"
          [ngClass]="
            form.valid
              ? 'bg-indigo-600 text-white hover:bg-indigo-700 cursor-pointer'
              : 'bg-white text-gray-400 border border-gray-300 cursor-default'
          "
          class="font-medium py-1 px-4 rounded-lg mr-1"
        >
          Pošalji
        </button>
      </div>
    </div>
  </form>
</div>
